<div class="container">
  <div id="homeimgBox">
    <div id="homeimgBoxText">
      <h1>みんなとチャットで繋がろう！</h1>
    </div>
  </div>
  <h1 id="homeExpTitle">ChatRoomAppとは</h1>
  <div class="homeExpBox">
    <div class="homeExp">
      <%= image_tag  "/images/network.png" %>
      <p>世界中の人と繋がろう！</p>
    </div>
    <div class="homeExp">
      <%= image_tag  "/images/chat2.jpg" %>
      <p>専用チャットでみんなと話そう！</p>
    </div>
    <div class="homeExp">
      <%= image_tag  "/images/chat1.jpg" %>
      <p>みんなとコミュニケーションしよう！</p>
    </div>
  </div>
  <p id="box_border"></p>
  <div class="buttonBox">
    <h1>今すぐ始めよう！</h1>
    <div class="new_button">
      <a href="/rooms">  
        <h1>チャットを始める</h1>
      </a>
    </div>
  </div>
</div>